* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

div.inner {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  div.inner:before, div.inner:after {
    content: " ";
    display: table; }
  div.inner:after {
    clear: both; }

section.post h1 {
  *zoom: 1;
  display: table;
  margin-left: 17.05961%; }
  @media screen and (max-width: 798px) {
    section.post h1 {
      margin-left: 0%; } }
  section.post h1:before, section.post h1:after {
    content: " ";
    display: table; }
  section.post h1:after {
    clear: both; }
section.post aside {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 14.70196%; }
  section.post aside:last-child {
    margin-right: 0; }
  @media screen and (max-width: 798px) {
    section.post aside {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 100%; }
      section.post aside:last-child {
        margin-right: 0; } }
  section.post aside p {
    margin: 0;
    font-size: 13px;
    text-align: right; }
    @media screen and (max-width: 798px) {
      section.post aside p {
        display: inline;
        margin-bottom: 2em; } }
section.post article {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%; }
  section.post article:last-child {
    margin-right: 0; }
  @media screen and (max-width: 798px) {
    section.post article {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 100%;
      float: none; }
      section.post article:last-child {
        margin-right: 0; } }

section.social, section.comments {
  margin-left: 25.89467%;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 65.88078%; }
  section.social:last-child, section.comments:last-child {
    margin-right: 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* LAYOUT STYLES */
body {
  font-size: 1em;
  line-height: 1.5;
  background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #6d6d6d; }

a {
  color: #d5000d; }

a:hover {
  color: #c5000c; }

header, footer {
  margin-left: 17.05961%;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%; }
  header:last-child, footer:last-child {
    margin-right: 0; }

header {
  padding-top: 35px;
  padding-bottom: 25px; }
  header h1 {
    font-family: "Chivo", "Helvetica Neue", Helvetica, Arial, serif;
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 55px;
    color: #303030;
    line-height: 1.2; }
  header h2 {
    letter-spacing: -1px;
    font-size: 24px;
    color: #aaa;
    font-weight: normal;
    line-height: 1.3; }

footer {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #aaa; }
  footer a {
    color: #666; }
  footer footer a:hover {
    color: #444; }

#container {
  background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;
  min-height: 595px; }
  #container .inner img {
    max-width: 100%; }

.inner {
  margin: 0 auto; }

code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
  color: #222;
  margin-bottom: 30px;
  font-size: 14px; }

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

ul, ol, dl {
  margin-bottom: 20px; }

/* COMMON STYLES */
hr {
  height: 1px;
  line-height: 1px;
  margin-top: 2em;
  margin-bottom: 2em;
  border: none;
  background: transparent url("../images/hr.png") 0% 0 no-repeat; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

table {
  width: 100%;
  border: 1px solid #ebebeb; }

th {
  font-weight: 500; }

td {
  border: 1px solid #ebebeb;
  text-align: center;
  font-weight: 300; }

form {
  background: #f2f2f2;
  padding: 20px; }

/* GENERAL ELEMENT TYPE STYLES */
h1 {
  font-size: 32px; }

h2 {
  font-size: 22px;
  font-weight: bold;
  color: #303030;
  margin-bottom: 8px; }

h3 {
  color: #d5000d;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px; }

h4 {
  font-size: 16px;
  color: #303030;
  font-weight: bold; }

h5 {
  font-size: 1em;
  color: #303030; }

h6 {
  font-size: .8em;
  color: #303030; }

p {
  font-weight: 300;
  margin-bottom: 20px; }
  p a {
    font-weight: 400; }

a {
  text-decoration: none; }

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px; }

ul li {
  list-style: disc inside;
  padding-left: 20px; }

ol li {
  list-style: decimal inside;
  padding-left: 3px; }

dl dt {
  color: #303030; }

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px; }

  .inner {
    width: 94%;
    margin: 0 auto; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
